<!DOCTYPE html>
<html lang='vi'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body style='font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;'>
<table width='100%' cellspacing='0' cellpadding='0'
       style='max-width: 600px; margin: auto; background: white; padding: 20px;
        border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);'>

    <!-- Header đẹp hơn -->
    <tr>
        <td align='center' style='background-color: #25b9fe; padding: 15px; border-radius: 8px 8px 0 0;'>
            <h3 style='color: rgb(251, 249, 249); margin: 0px;'> Chào mừng bạn đến với <b>PetCare</b>! </h3>
        </td>
    </tr>

    <!-- Logo -->
    <tr>
        <td align='center' style='padding-top: 20px;'>
            <img src='https://media.loveitopcdn.com/3807/logo-hutech-2.png' alt='LOGO'
                 style='max-width: 70px; margin-bottom: 20px;'>
        </td>
    </tr>

    <!-- Nội dung chính -->
    <tr>
        <td>
            <h2>Chào mừng <span style="color:#2563eb" th:text="${fullName}">bạn</span>!</h2>
            <p style='color: #555; font-size: 16px; text-indent: 40px;'>
                Chúng tôi rất vui khi bạn đăng ký thành công! Cám ơn bạn đã lựa chọn <b>PetCare</b> để đồng hành trong hành trình chăm sóc thú cưng.
                Tài khoản của bạn là chìa khóa để quản lý thông tin thú cưng, theo dõi lịch tiêm phòng, nhắc lịch tắm rửa – cắt tỉa, đặt lịch khám và nhận các mẹo chăm sóc hữu ích.
                Hãy khám phá ngay và mang đến cho boss của bạn những trải nghiệm tốt nhất cùng chúng tôi!
            </p>
        </td>
    </tr>

    <!-- Lời nhắn tạo sự kết nối -->
    <!-- Nút điều hướng -->
    <tr>
        <td align='center' style='padding: 20px 0;'>
            <a href='https://github.com/pdtuan04/DoAnCNPM'
               style='background-color: #25b9fe; color: white; padding: 12px 24px;
                    text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 16px;'>
                Khám phá ngay
            </a>
        </td>
    </tr>
    <tr>
        <td style='text-align: center; '>
            <p style='font-size: 14px; color: #444;'>
                Nếu có bất kỳ câu hỏi nào, đừng ngần ngại liên hệ với chúng tôi.
                Đội ngũ hỗ trợ luôn sẵn sàng giúp bạn bất cứ lúc nào để việc chăm sóc thú cưng trở nên dễ dàng và vui hơn!
            </p>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td style='text-align: center; font-size: 12px; color: #999; padding-top: 20px;'>
            123 Xa Lộ Hà Nội, TP.HCM, Việt Nam<br>
            +84 222 333 123 |  support@PetCare.com<br>
            © 2025 Your Company. All Rights Reserved.
        </td>
    </tr>
</table>
</body>
</html>";